<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
<ion-content [fullscreen]="true" [ngClass]="{'custom-ion-content': isToBack}">
    <ion-item style="width: 150px; height: 150px; background: transparent; position: absolute; bottom: 15px; left: 15px;">
        <div style="position: relative; left: 0px; top: 0px; width: 150px; height: 150px;" id="zone_joystick1"></div>
    </ion-item>
    <ion-item style="width: 150px; height: 150px; background: transparent; position: absolute; bottom: 15px; right: 15px;">
        <div style="position: relative; left: 0px; top: 0px; width: 150px; height: 150px;" id="zone_joystick2"></div>
    </ion-item>
</ion-content>